DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=app_multiapp

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h

PORT=3000

SMTP_HOST=smtp.tu-proveedor.com
SMTP_PORT=587
SMTP_USER=tu-correo@dominio.com
SMTP_PASS=tu-contraseña
SMTP_FROM="Súper App" <noreply@tudominio.com>

BASE_URL=http://localhost:3000
